.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  GROUPING  ============================================================================= */

.row {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.row:before,
.row:after {
    content:"";
    display:table;
}
.row:after {
    clear:both;
}




@media only screen and (max-width: 480px) {
    
    html{font-size: 16px;}
    .span-3-of-4 {
		width: 100%; 
        margin-top: 10%;
         margin-right: 0;
        margin-left: 0;
        /*padding-left: 0.9rem;*/
        padding-right: 0.9rem;
        padding-left: 0.9rem;
        height: auto;
	}
    
    .publishing-space {
    width: 60%;
    margin-left: 1.2rem;
}
    
 /*   .myblock {
    display: block;
    float: left;
    margin-left: 1rem;
    margin-top: 0.5rem;
        margin-bottom: 0.5rem;
}*/
    .myblock {
    display: block;
    float: left;
    margin-left: 8%;
    margin-right: 17%;
    margin-top: 0.5rem;
        margin-bottom: 0.5rem;
}
    .card {
        width: 100% !important;
    }

    
    .span-1-of-4 {
        float: left;
		width: 85%; 
        margin-top: 10%;
        margin-left: 2rem;
        height: auto;
   
	}
    
    .headline{
    display: block;
    float: left;
    margin-top: 1.5rem;
    margin-left: 1rem;
}

.headline p{
    display: inline-block;
    font-family: 'Merriweather', serif;
    font-size: 2rem;
    color: #ededed;
    font-weight: 300;
}
    
    .type7 {
    color: #07285c;
    text-decoration: none;
}
    
    #footer{
    display: block;
    clear: both;
   background-color: #525354;
    height: 2.5rem;
    
}
#footer p{
    display:inline-block;
    color: #ededed;
    font-family: monospace;
    font-size: 0.5rem;
    text-align: center;
    position: absolute;
    left: 29%;

}
#footer p a{
    color: #ededed;
    text-decoration: none;
}
    
 /*   .side-links {
    display: block;
    float: left;
    width: 90%;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    border-bottom: 0.065rem solid #07285c;
    
    
}
.side-links a{
    display: block;
    float: left;
    font-size: 1rem;
    letter-spacing: 0.04rem;
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
    
    
}*/
    
    
    .blogcont{
    padding-left: 2rem !important;
     padding-right: 2rem !important;
    height: auto !important;
}
    
    .blogcont p{
        font-size: 0.8rem !important;
    }
    
    .blogcont2{
    padding-left: 2rem !important;
     padding-right: 2rem !important;
    height: auto !important;
}
.blogcont2 h3{
    color: #07285c;
    margin-bottom: 0;
    padding-left: 1rem;
    
}
.blogcont2 p{
    font-size: 0.9rem;
    /*font-family:'Roboto Slab', serif;*/
    text-align: justify;
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
   
}

    
    
}

@media only screen and (min-width: 900px) {
    html{
        font-size: 20px;
    }
}